$round-to-nearest-half-line: false;
$base-font-size: 16px;
$base-line-height: 1.5 * $base-font-size;
$ratio: 14/9;
$container-size: 50em;
$heading-font: 'Josefin Sans', sans-serif;
$body-font: 'Arvo', serif;
$body-color: #555;
$body-background: #ddd;
$body-accent-color: #E69021;
$body-accent-bg: #ccc;