@import "variables";
@import "typography";
@import "utilities";
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,600|Arvo:400,700';

body#tinymce.wp-editor {
    max-width: 50em;
    margin: auto;
    background-color: $body-background;
    color: $body-color;
}