@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,600|Arvo:400,700";
/* line 106, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 3, ../sass/_typography.scss */
body {
  font-family: "Arvo", serif;
}

/* line 7, ../sass/_typography.scss */
strong, b {
  font-weight: 700;
}

/* line 11, ../sass/_typography.scss */
em {
  font-style: italic;
}

/* line 15, ../sass/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

/* line 25, ../sass/_typography.scss */
h1 {
  font-size: 3.76406em;
  line-height: 1.19552em;
  letter-spacing: 0.05em;
  font-weight: 100;
}

/* line 32, ../sass/_typography.scss */
h2 {
  font-size: 3.76406em;
  line-height: 1.19552em;
  letter-spacing: 0.05em;
  font-weight: 100;
}

/* line 39, ../sass/_typography.scss */
h3 {
  font-size: 2.41975em;
  line-height: 1.2398em;
  letter-spacing: 0.05em;
  font-weight: 300;
}

/* line 46, ../sass/_typography.scss */
h4 {
  font-size: 1.55556em;
  line-height: 1.92857em;
  letter-spacing: 0.05em;
  font-weight: 600;
}

/* line 53, ../sass/_typography.scss */
p,
ul,
ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 56, ../sass/_typography.scss */
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, h1 +
ul, h2 +
ul, h3 +
ul, h4 +
ul, h5 +
ul, h6 +
ul, h1 +
ol, h2 +
ol, h3 +
ol, h4 +
ol, h5 +
ol, h6 +
ol {
  margin-top: 0;
}
/* line 66, ../sass/_typography.scss */
p:first-child,
ul:first-child,
ol:first-child {
  margin-top: 0;
}
/* line 69, ../sass/_typography.scss */
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

/* line 74, ../sass/_typography.scss */
ul,
ol {
  padding-left: 3em;
}

/* line 79, ../sass/_typography.scss */
ul {
  list-style-type: disc;
}
/* line 81, ../sass/_typography.scss */
ul ul {
  list-style-type: circle;
}
/* line 83, ../sass/_typography.scss */
ul ul ul {
  list-style-type: square;
}

/* line 89, ../sass/_typography.scss */
ol {
  list-style-type: decimal;
}
/* line 91, ../sass/_typography.scss */
ol ol {
  list-style-type: lower-alpha;
}
/* line 93, ../sass/_typography.scss */
ol ol ol {
  list-style-type: lower-roman;
}

/* line 99, ../sass/_typography.scss */
img {
  max-width: 100%;
}

/* line 103, ../sass/_typography.scss */
q {
  quotes: "“" "”" "‘" "’";
  opacity: 0.8;
}

/* line 107, ../sass/_typography.scss */
q:before {
  content: open-quote;
}

/* line 110, ../sass/_typography.scss */
q:after {
  content: close-quote;
}

/* line 114, ../sass/_typography.scss */
blockquote {
  font-family: "Josefin Sans", sans-serif;
  border-left: 1em solid #78162D;
  background-color: #ccc;
  padding: 0.75em;
}
/* line 119, ../sass/_typography.scss */
blockquote > cite {
  font-style: italic;
  opacity: 0.75;
}
/* line 122, ../sass/_typography.scss */
blockquote > cite:before {
  content: '—';
}
/* line 127, ../sass/_typography.scss */
blockquote.aligncenter {
  max-width: 35em;
}
/* line 131, ../sass/_typography.scss */
blockquote.alignright, blockquote.alignleft {
  max-width: 20em;
}

/* line 137, ../sass/_typography.scss */
aside {
  border-top: 1em solid #78162D;
  border-bottom: 1em solid #78162D;
  background-color: #ccc;
  padding: 0.75em;
}
/* line 143, ../sass/_typography.scss */
aside.aligncenter {
  max-width: 35em;
}
/* line 147, ../sass/_typography.scss */
aside.alignright, aside.alignleft {
  max-width: 20em;
}

/* line 154, ../sass/_typography.scss */
.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 0.75em auto;
}

/* line 161, ../sass/_typography.scss */
hr {
  background-color: rgba(0, 0, 0, 0.13);
  border: 0;
  height: 1px;
  margin: 0p auto;
}

@media (min-width: 50em) {
  /* line 169, ../sass/_typography.scss */
  .alignright {
    margin: 0.75em 1.5em;
    margin-top: 0;
    margin-right: 0;
    clear: right;
    float: right;
  }

  /* line 176, ../sass/_typography.scss */
  .alignleft {
    margin: 0.75em 1.5em;
    margin-top: 0;
    margin-left: 0;
    clear: left;
    float: left;
  }
}
/* line 185, ../sass/_typography.scss */
a {
  text-decoration: none;
  color: #6273B9;
  border-bottom: 1px solid #6273B9;
}
/* line 189, ../sass/_typography.scss */
a:hover {
  color: #6273B9;
  border-bottom: 2px solid #6273B9;
}
/* line 193, ../sass/_typography.scss */
a:active {
  color: #D48827;
  border-bottom: 2px solid #D48827;
}
/* line 197, ../sass/_typography.scss */
a:visited {
  color: #79172D;
  border-bottom: 1px solid #79172D;
}

/* line 1, ../sass/_utilities.scss */
a.button,
button {
  display: inline-block;
  background-color: #E69021;
  padding: 0.375em 0.75em;
  border-bottom: 0;
  color: white;
}
/* line 8, ../sass/_utilities.scss */
a.button:hover,
button:hover {
  opacity: 0.8;
}

/* line 6, ../sass/editor-style.scss */
body#tinymce.wp-editor {
  max-width: 50em;
  margin: auto;
  background-color: #ddd;
  color: #555;
}
